fastapi
uvicorn
sqlalchemy
psycopg[binary]
google-genai
python-dotenv
PyJWT
python-multipart
pwdlib[argon2,bcrypt]
aiosqlite
sqlmodel
alembic
pydantic
pydantic-settings
typing-extensions
email-validator
httpx
pytest
